<template>
    <div class="card mb-0 pt-2 pt-md-0">
        <div class="card-header bg-info">
            <h3 class="my-0">Registro de Ventas</h3>
        </div>
        <div class="card-body">
            <form autocomplete="off" @submit.prevent="submit">
                <div class="form-body">
                <template v-if="active==1">    
                <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.document_type_code}">
                                <label class="control-label">Comprobante</label>
                                <el-select v-model="form.document">
                                     <el-option label="Nota de Pedido" value="NP"></el-option>
                                    <el-option label="Nota de Venta" value="NV"></el-option>
                                    <el-option label="Boleta de Venta" value="BV"></el-option>
                                   <el-option label="Factura de Venta" value="FV"></el-option>
                                </el-select>

                                <small class="form-control-feedback" v-if="errors.document" v-text="errors.document_type_code[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.f_fecha}">
                                <label class="control-label">Fecha</label>

                                  <el-date-picker v-model="form.f_fecha"
                                  type="date"
                                  value-format="yyyy-MM-dd"
                                  style="width:99%">
                                </el-date-picker>
                                <small class="form-control-feedback" v-if="errors.f_fecha" v-text="errors.f_fecha[0]"></small>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.number}">
                                <label class="control-label">Tienda</label>
                                   <el-input  v-model="form.codtda"></el-input>
                                <small class="form-control-feedback" v-if="errors.number" v-text="errors.number[0]"></small>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.tipe_pay}">
                                <label class="control-label">Condición Pago</label>
                             <el-switch
                                v-model="form.c_motivo"
                                active-color="#409eff"
                                inactive-color="#409eff"
                                  active-text="CONTADO"
                                  inactive-text="CREDITO"
                                active-value="CONTADO"
                                inactive-value="CONTADO">
                            </el-switch>
                                <small class="form-control-feedback" v-if="errors.tipe_pay" v-text="errors.tipe_pay[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.n_tcambio}">
                                <label class="control-label">Tipo de Cambio</label>
                                  <el-input  v-model="form.tipo_cambio" style="width:100%" @input="changeCurrencyType()">
                                </el-input>
                                <small class="form-control-feedback" v-if="errors.n_tcambio" v-text="errors.n_tcambio[0]"></small>
                            </div>
                        </div>
               <div class="col-lg-2 col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.c_pagoen}">
                                <label class="control-label">Pago en </label>
                             <el-switch
                                v-model="form.c_pagoen"
                                 @change="changeCurrencyType()"
                                active-color="#409eff"
                                inactive-color="#409eff"
                                  active-text="Dolares"
                                  inactive-text="Soles"
                                active-value="Dolares"
                                inactive-value="Soles">
                            </el-switch>
                                <small class="form-control-feedback" v-if="errors.c_pagoen" v-text="errors.c_pagoen[0]"></small>
                            </div>
                        </div>
                    </div>
                <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.c_rucemp}">
                                <label class="control-label">Ruc</label>
                                    <el-input type="number"  v-model="form.c_rucemp" class="solo-numero" @focus="showgriditem('2')"  @input="filtrar_cliente()"></el-input>
                                <small class="form-control-feedback" v-if="errors.c_rucemp" v-text="errors.c_rucemp[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" :class="{'has-danger': errors.c_descrip}">
                                <label class="control-label">Cliente</label>
                                 <el-input v-model="form.c_descrip"  @focus="showgriditem('2')" @input="filtrar_cliente()"></el-input>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group" :class="{'has-danger': errors.c_direcci}">
                                <label class="control-label">Direccion</label>
                           <el-input  v-model="form.c_direcci"></el-input>
                                <small class="form-control-feedback" v-if="errors.c_direcci" v-text="errors.c_direcci[0]"></small>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <div class="form-group" :class="{'has-danger': errors.c_telef}">
                                <label class="control-label">Telefonos</label>
                            <el-input  v-model="form.c_telef"></el-input>
                                <small class="form-control-feedback" v-if="errors.c_telef" v-text="errors.c_telef[0]"></small>
                            </div>
                        </div>
 <div class="table filter_grid" v-if="show_cliente==true" style="margin-top:65px;">
                       <table id="data">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>DNI/Ruc</th>
                                    <th>Cliente</th>
                                    <th>Dirección</th>
                                    <th>Telefonos</th>
                                    </tr>
                                </thead>
                            <tbody>

                        <tr v-for="(row,index) in all_customers" :key="index" @click="seleccion_customers(row.c_ruc,row.c_descrip,row.c_direcci,row.c_telefo)"  :class="{ 'cell_active': index === cell_seleccion }">
                              <el-button type="success" icon="el-icon-check"></el-button>
                            <td class="text-left">{{row.c_ruc}}</td>
                            <td class="text-left">{{row.c_descrip}}</td>
                            <td class="text-left">{{row.c_direcci}}</td>

                            <td class="text-center">{{row.c_telefo}}</td>
                        </tr>

                            </tbody>
                        </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Observacion</label>
                                <el-input type="textarea"  v-model="form.c_provee" style="width:100%">
                                </el-input>
                            </div>
                        </div>

                    </div>
            </template>
            <template v-if="active==0"> 
                <div class="row">

                      
                        <div class="col-md-1 celdas">
                           <div class="form-group">
                                <label class="control-label">Caja</label>
                                <b> {{form.caja_stock}}</b>
                            </div>
                        </div>
                          <div class="col-md-1 celdas" >
                            <div class="form-group">
                                <label class="control-label">Docena</label>
                                <b>{{form.docena_stock}}</b>
                            </div>
                        </div>
                        <div class="col-md-1 celdas">
                            <div class="form-group">
                                <label class="control-label">Unidad</label>
                                <b> {{form.unidad_stock}}</b>
                            </div>
                        </div>
                        <div class="col-md-1 celdas" style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center">
                            <div class="form-group">
                                <label class="control-label">N° Piezas</label>
                              <b> {{form.n_stopza}}</b>
                            </div>
                    </div>
                      <div class="col-md-8">
                            <label class="control-label d-flex align-items-end">Filtrar Producto</label>
                            <el-input v-model="buscador" ref="buscador" @focus="showgriditem('1')" @input="search()">
                            </el-input>
                        </div>

            </div>
              <div class="table-responsive table filter_grid" v-if="show_producto==true" style="margin-top:5px;">
                       <table id="data">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Producto</th>
                                    <th>Packing</th>
                                     <th>Und</th>
                                    <th>Precio Vta</th>
                                    </tr>
                                </thead>
                            <tbody>

                        <tr v-for="(row,index) in items" :key="index" @click="seleccion_rows(index)"  :class="{ 'cell_active': index === cell_seleccion }">
                            <td class="text-left">
                              <el-button size="medium" type="primary" icon="el-icon-check" @click="clickAddItem(row.c_codigo,row.c_codauxi,row.c_codigo1,row.c_codigo2,row.c_descrip,row.n_realpre,row.n_packing,row.c_codund,row.n_stopza,row.n_realcos)"></el-button>
                              </td>
                            <td class="text-left">{{row.c_codigo}}</td>
                            <td class="text-left">{{row.c_descrip}}</td>
                            <td class="text-center">{{row.n_packing}}</td>
                             <td class="text-center">{{row.c_codund}}</td>
                            <td class="text-center">{{row.n_pventa}}</td>
                        </tr>

                            </tbody>
                        </table>
                        </div>
              <div class="col-md-12" style="padding:0px;padding-top:5px;">
                         <div class="table-responsive">
                        <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th scope="col" class="text-left">Descripcion</th>
                                        <th scope="col"> Packing</th>
                                        <th scope="col"> Und</th>
                                        <th scope="col"> Caja</th>
                                        <th scope="col"> Docena</th>
                                        <th scope="col"> Unidad</th>
                                        <th scope="col"> Precio Vta</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody v-if="form.items.length > 0">
                                <template v-for="(row, index) in form.items">
                                        <tr :key="index">
                                            <td scope="row" data-label="Acciones">
                                                <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickRemoveItem(index)">x</button> </td>
                                            <td data-label="Cantidad" class="text-left input">
                                                {{row.c_codigo}}
                                            </td>
                                            <td data-label="Descripcion" class="text-left input_descrip">
                                                <span class="input_descrip">{{row.c_descrip}}</span>
                                            </td>
                                            <td data-label="N° Packing" class="text-left">
                                                {{row.n_packing}}
                                            </td>
                                            <td data-label="U. Medida">
                                               {{row.c_unidad}}
                                            </td>
                                            <td data-label="Caja"  class="input">
                                                <el-input
                                                v-model="row.caja" :ref="'caja'" style="text-align:center !important;" @input="validar_cantidad(index)" resize="horizontal" size="mini"></el-input>
                                            </td>
                                          <td data-label="Docena"  class="input">
                                                <el-input  resize="horizontal" size="mini" style="text-align:center !important;"
                                                v-model="row.docena" @input="validar_cantidad(index)"></el-input>

                                            </td>

                                            <td data-label="Unidad"  class="input">
                                               <el-input  resize="horizontal" size="mini" style="text-align:center !important;"
                                               v-model="row.unidad" @input="validar_cantidad(index)">
                                                </el-input>
                                            </td>
                                            <td data-label="Precio Venta">{{row.n_pventa}}</td>
                                            <td data-label="Importe Total">{{row.total}}</td>

                                        </tr>
                                </template>
                                </tbody>
                                <tbody>
                                <template>

                                <tr>
                                    <td colspan="9" class="text-right">
                                        <h3 class="text-right"><b>Total : {{currency_symbol}}</b></h3>
                                    </td>
                                    <td colspan="9" class="text-right">
                                        <h3><b> {{ form.total }}</b></h3>
                                    </td>
                                    </tr>

                                </template>
                                 </tbody>
                        </table>
                        </div>
                        </div>
            </template>
                </div>
                <div class="form-actions text-right mt-4">
                    <el-button @click.prevent="next()" v-if="active==0">Siguiente</el-button>
                    <el-button @click.prevent="prev()" v-if="active!=0">Anterior</el-button>
                    <el-button @click.prevent="close()">Cancelar</el-button>

                    <el-button type="primary" native-type="button" v-if="form.items.length > 0 && (form.total > 0 || form.total_free > 0)" @click="submit()">Generar</el-button>
                </div>
            </form>
        </div>

    </div>
</template>
<script>
    import moment from 'moment'

//    import CustomerForm from '../customers/modalform.vue'
//    import DocumentOptions from '../documents/partials/options.vue'

    export default {
     //    mixins: [deletable,messagebox],
  //      components: {CustomerForm, DocumentOptions},
        data() {
            return {
                resource: 'sales',
                loading_submit: false,
                showDialogAddItem: false,
                showDialogNewCustomer: false,
                showDialogOptions: false,
                loading_submit: false,
                cell_seleccion:null,
                buscador:null,
                show_producto:false,
                show_cliente:false,
                rows_actual:null,
                caja_stock:0,
                docena_stock:0,
                unidad_stock:0,
                errors: {},
                form: {},
                row_tipe_pay:[],
                sivamed:[],
                currency_types: [],
                affectation_igv_types: [],

                discounts: [],
                charges: [],
                items: [],
                customers: [],
                all_customers: [],
                company: null,
                establishment: null,
                all_series: [],
                series: [],
                configurations: {},
                currency_symbol: '$',
                documentNewId: null,
                document_type_03_filter:null,
                select_first_document_type_03:null,
                select_customer_various:null,
                is_franchise:null,
                active: 0
            }
        },
        created() {
            this.filtrar_cliente()
            this.initForm()
            this.loadTables()
            this.$eventHub.$on('reloadDataCustomers', () => {
          //      this.reloadDataCustomers()
            })

        },
        computed: {
             subtotalFranchise: function () {
                return _.round(this.form.total_taxed - this.form.total_global_discount,2)
            }
        },
		  beforeMount() {
		    document.addEventListener('keyup', this.presionoTecla, false);
		  },
		  beforeDestroy () {
		    document.removeEventListener('keyup', this.presionoTecla, false)
		  },
        methods: {

          presionoTecla (event) {
              event.preventDefault();
            if (event.keyCode === 40) {
            if(this.cell_seleccion===null){
                this.cell_seleccion=0
            } else{
            if(this.cell_seleccion===(this.items.length-1)){
            }else{
               this.cell_seleccion=this.cell_seleccion+1
            }
            }

            }
            if (event.keyCode === 38) {
            if(this.cell_seleccion===null){
                this.cell_seleccion=0
            }else{
            if(this.cell_seleccion===0 ){
            }else{
               this.cell_seleccion=this.cell_seleccion-1
            }
            }
            }
            if (event.keyCode === 113) {
                this.show_producto=true
                this.$refs.buscador.focus()

            }
            if(event.keyCode === 37 && this.show_producto===false){
                  this.$nextTick(() => {
                    let index = this.form.items.length - 1;
                    let input = this.$refs.quantity[index];
                    input.focus();
                    input.select();
                  })
            }
            if(event.keyCode === 39 && this.show_producto===false){
                  this.$nextTick(() => {
                    let index = this.form.items.length - 1;
                    let input = this.$refs.value_price_unit[index];
                    input.focus();
                    input.select();
                  })
            }

            if (event.keyCode === 27) {
                this.show_producto=false
            }
            if (event.keyCode === 13 && this.show_producto===false) {
                if(this.form.items.length>0){
                let object = this.el;
                this.$nextTick(() => {
                     el.querySelector('input').focus()
                 
                });
                }
            }
            if (event.keyCode === 13 && this.show_producto===true) {
                this.clickAddItem(this.items[this.cell_seleccion].c_codigo,this.items[this.cell_seleccion].c_codauxi,this.items[this.cell_seleccion].c_codigo1,this.items[this.cell_seleccion].c_codigo2,this.items[this.cell_seleccion].c_descrip,this.items[this.cell_seleccion].n_realpre,this.items[this.cell_seleccion].n_packing,this.items[this.cell_seleccion].c_codund,this.items[this.cell_seleccion].n_stopza,this.items[this.cell_seleccion].n_realcos)
                this.changeRow(this.form.items.length-1)
                this.show_producto=false
                var row_index=this.cell_seleccion-1
            }

            },

            showgriditem(valor){
                if(valor==1){
                this.show_producto=true
                this.show_cliente=false
                this.buscador=""
                }else{
                this.show_cliente=true
                this.show_producto=false
                //this.form.c_rucemp=""
                //this.form.c_descrip=""
                this.filtrar_cliente();
                  // this.c_rucemp=""
                  // this.c_descrip=""
                }
            },

            calcular_stock(id){
                this.$http.get(`/${this.resource}/stock`,id)
                    .then(response => {
                        this.caja_stock=response.data.stock.caja_stock;
                        this.docena_stock=response.data.stock.docena_stock;
                        this.unidad_stock=response.data.stock.unidad_stock;
                    })
            },
            loadTables(){
                this.$http.get(`/${this.resource}/tables`)
                    .then(response => {
                        this.items = response.data.sivacodm;
                        this.all_customers = response.data.sivamed.data;
                        this.form.tipo_cambio=response.data.tipocambio[0].n_cambio.toFixed(2);
                        this.form.codtda=response.data.tiendaactiva[0].c_codigo
                        console.log(response.data.tiendaactiva)
                        this.form.tienda=response.data.tiendaactiva[0].c_descrip

                        //this.form.c_correlativo=response.data.correlativo[0].numero
                        //  console.log(response.data.correlativo[0].numero)
                    })

            },
            initForm() {
                this.errors = {}
                this.form = {
                    caja_stock:0,
                    docena_stock:0,
                    unidad_stock:0,
                    document:'NP',
                    f_fecha: moment().format('YYYY-MM-DD'),
                    c_motivo:'CONTADO',
                    tipo_cambio:'0.00',
                    c_pagoen:'DOLARES AMERICANOS',
                    c_rucemp:'1',
                    c_correlativo:null,
                    c_direcci:'-',
                    c_telef:'-',
                    c_descrip:'VARIOS',
                    n_cosreal:0.00,
                    total_dolares:0.00,

                    items: []
                }
            },
            resetForm() {
                this.initForm()
                this.selectDocumentType()
                this.form.soap_type_id = this.company.soap_type_id
                this.form.establishment_id = this.establishment.id
                this.changeDocumentType()
            }
            ,
            selectDocumentType(){
            //    this.form.document_type_code = (this.select_first_document_type_03) ? '03':'01'
            },
            seleccion_customers(ruc,cliente,direccion,fonos){
                this.form.c_rucemp=ruc
                this.form.c_descrip=cliente
                this.form.c_direcci=direccion
                this.form.c_telef=fonos
                this.show_cliente=false
            },
            filtrar_cliente(){
                var campo="c_descrip"
                var valor=this.form.c_descrip

            this.$http.get(`/${this.resource}/filter_sivamed?campo=${campo}&buscar=${valor}`)
             .then(response => {
                 this.all_customers = response.data.sivamed;
                 console.log(response.data.sivamed)
            })

            }
            ,
            registrar_cliente(url,msg_text,title_msg,msg_sucess,msg_error,text_button){
                   this.messagebox(`/${this.resource}/${url}`,msg_text,title_msg,msg_sucess,msg_error,text_button)
            },

            seleccion_rows(index) {
               this.cell_seleccion=index
            },
            validar_cantidad(index){
                this.buscar_costo(this.form.items[index].c_codigo,index)
                if(this.form.items[index].caja>0){
                    this.form.items[index].docena=0
                    this.form.items[index].unidad=0
                    var nPrec_unitario=(this.form.items[index].n_precio/12).toFixed(2)
                    var nReal_costo=(this.form.items[index].n_realcos2/12).toFixed(2)
                if(this.form.c_pagoen==="Soles"){
                    var nCambio=(this.form.tipo_cambio*(nPrec_unitario)).toFixed(2)
                      var nCambio2=(this.form.tipo_cambio*(nReal_costo)).toFixed(2)

                    this.form.items[index].n_pventa=nCambio*this.form.items[index].n_packing.toFixed(2)
                    this.form.items[index].n_realcos=nCambio2*this.form.items[index].n_packing.toFixed(2)
                }else{

                     var nResultado=(nPrec_unitario*this.form.items[index].n_packing)
                    this.form.items[index].n_pventa=nResultado.toFixed(2)
                    this.form.items[index].n_realcos=nReal_costo*this.form.items[index].n_packing.toFixed(2)
                    console.log(nReal_costo*this.form.items[index].n_packing.toFixed(2))
                }
                    this.form.items[index].total=(this.form.items[index].n_pventa*this.form.items[index].caja).toFixed(2)
                }
                    //obtener el Precio por Docena
                if(this.form.items[index].docena>0){
                    this.form.items[index].caja=0
                    this.form.items[index].unidad=0
                 if(this.form.c_pagoen==="Soles"){
                    var nCambio=this.form.tipo_cambio*(this.form.items[index].n_precio)
                    var nCambio2=this.form.tipo_cambio*(this.form.items[index].n_realcos2)
                    this.form.items[index].n_pventa=(nCambio).toFixed(2)
                    this.form.items[index].n_realcos=(nCambio2).toFixed(2)
                 }else{
                    this.form.items[index].n_pventa=(this.form.items[index].n_precio).toFixed(2)
                     this.form.items[index].n_realcos=(this.form.items[index].n_realcos2).toFixed(2)
                 }
                     this.form.items[index].total=(this.form.items[index].n_pventa*this.form.items[index].docena).toFixed(2)
                }
                    //obtener el Precio por Unidad
                if(this.form.items[index].unidad>0){
                    this.form.items[index].docena=0
                    this.form.items[index].caja=0
                if(this.form.c_pagoen==="Soles"){
                    var nCambio=this.form.tipo_cambio*(this.form.items[index].n_precio)
                    var nCambio2=this.form.tipo_cambio*(this.form.items[index].n_realcos2)
                    this.form.items[index].n_pventa=(nCambio/12).toFixed(2)
                    this.form.items[index].n_realcos=(nCambio2/12).toFixed(2)
                }else{
                    this.form.items[index].n_pventa=(this.form.items[index].n_precio/12).toFixed(2)
                    this.form.items[index].n_realcos=(this.form.items[index].n_realcos2/12).toFixed(2)
                    console.log((this.form.items[index].n_realcos2/12).toFixed(2))
                }

                    this.form.items[index].total=(this.form.items[index].n_pventa*this.form.items[index].unidad).toFixed(2)
                }
                this. calculateTotal()
            }
            ,

            clickAddItem(id,c_codauxi,c_codigo1,c_codigo2,description,precio_caja,n_packing,medida,n_stopza,n_realcos) {
                this.form.items.push({
                    c_codauxi: c_codauxi,
                    c_codigo1:c_codigo1,
                    c_codigo2:c_codigo2,
                    c_codigo: id,
                    c_descrip:description,
                    n_pventa:0,
                    n_precio:precio_caja,
                    n_realcos2:n_realcos,
                    n_packing:n_packing,
                    c_unidad:medida,
                    n_realcos:n_realcos,
                    caja:0,
                    docena:0,
                    unidad:0,
                    n_stopza:n_stopza
                })
               var  stoc=n_stopza;
            if (this.form.c_unidad=="DOC"){
                var div=n_packing*12
            }else{
                var div=n_packing
            };
            var SALDOKARDEX=0;
            var SALDOKARDEXCJA=0;
            var SALDOKARDEXDOC=0;
             var SALDOKARDEXUND=0;
            var SALDOKARDEXDOC=0;
            SALDOKARDEX=stoc;
            SALDOKARDEXCJA=parseInt(SALDOKARDEX/div)
            SALDOKARDEXDOC=SALDOKARDEX % div
            SALDOKARDEXUND=SALDOKARDEXDOC % 12
            SALDOKARDEXDOC=parseInt(SALDOKARDEXDOC/12)
            this.form.caja_stock=SALDOKARDEXCJA
                this.form.docena_stock=SALDOKARDEXDOC
                this.form.unidad_stock=SALDOKARDEXUND

                this.form.n_stopza=n_stopza;
                this.show_producto=false
        //        this.calcular_stock(id);
           // this.$nextTick(() => this.$refs.caja.focus)//Me bota error
             this.$nextTick(() => {
                    let index = this.form.items.length - 1;
                    let input = this.$refs.caja[index];
                    input.focus();
                    input.select();
                });
            },

            clickRemoveItem(index) {
                this.form.items.splice(index, 1)
                this.calculateTotal()
            },
            changeItem(index) {
                this.rows_actual=index
                let item = _.find(this.items, {id: this.form.items[index].item_id})

                this.form.items[index].item_description = item.description
                this.form.items[index].unit_price = _.round(parseFloat(item.unit_price),2)
                this.form.items[index].unit_type_code = item.unit_type.code

                this.form.items[index].value_price_unit = _.round(parseFloat(item.unit_price),2)
                this.form.items[index].included_igv = (item.included_igv) ? true : false
                this.calculateRowTotal(index)

            },
            changeCurrencyType() {
                console.log(this.form.c_pagoen)
              if(this.form.c_pagoen==="Soles"){
                  this.currency_symbol ="S/."
              }else{
              if(this.form.c_pagoen==="Dolares"){
                  this.currency_symbol ="$"
              }
              }
               this.form.items.forEach((row,index) => {
                      this.validar_cantidad(index)
                });

             //   this.currency_symbol = (this.form.currency_type_code === 'PEN')?'S/':'$'
            },
            customerschange(){

            },
            changeRow(index) {
                this.calculateRowTotal(index)
            },
            calculateRowTotal(index) {

                let value_price_unit = this.form.items[index].value_price_unit
                let unit_price = 0.00

                if(!this.form.items[index].included_igv){

                    value_price_unit = (this.form.items[index].affectation_igv_type_code === '10') ? value_price_unit * 1.18 : value_price_unit
                    unit_price = _.round(parseFloat(value_price_unit),2)

                }else{
                    unit_price = _.round(parseFloat(value_price_unit),2)
                }

                this.form.items[index].unit_price = unit_price
                let quantity = parseFloat(this.form.items[index].quantity)

                let unit_value = 0.00
                let total = 0.00
                let total_igv = 0.00
                let total_value = 0.00

                if (this.form.items[index].affectation_igv_type_code === '10') {
                    unit_value = _.round(unit_price / 1.18, 2)
                    total = _.round(unit_price * quantity, 2)
                    total_igv = _.round(total - (_.round(total /1.18, 2)), 2)
                    total_value = _.round(total /1.18, 2)
                }
                if (this.form.items[index].affectation_igv_type_code === '20') {
                    unit_value = _.round(unit_price, 2)
                    total = _.round(unit_price * quantity, 2)
                    total_igv = 0.00
                    total_value = total
                }

                if (['11', '12', '13', '14', '15', '16'].indexOf(this.form.items[index].affectation_igv_type_code) > -1) {
                    this.form.items[index].price_type_code = '02'
                    unit_value = _.round(unit_price, 2)
                    total = _.round(unit_price * quantity, 2)
                    total_igv = 0.00
                    total_value = total
                }

                this.form.items[index].unit_value = unit_value
                this.form.items[index].total_value = total_value
                this.form.items[index].total = total.toFixed(2);
                this.form.items[index].items_igv = ((this.form.items[index].total/1.18)*0.18).toFixed(2);

                this.calculateTotal()
            },
            calculateTotal() {
                let totales = 0.00
                this.form.items.forEach((row) => {
                        totales += parseFloat(row.total)

                });
                this.form.total = totales.toFixed(2)
                if(this.form.tipo_cambio>0.00){
                    this.form.total_dolares=(totales/this.form.tipo_cambio).toFixed(2)
                }else{
                    this.form.total_dolares=0.00
                }
            },
            buscar_costo(id,index){
        this.$http.get(`/${this.resource}/buscar_costo?c_codigo=${id}`)
             .then(response => {

                  this.form.items[index].n_cosreal = response.data.sivacomh[0].n_cosreal;
                  console.log(this.form.items[index].n_cosreal);
            })
            }
            ,
            search(){
        this.$http.get(`/${this.resource}/seach?buscar=${this.buscador}`)
             .then(response => {
                  this.items = response.data.sivacodm;
            })
            }
            ,
            next(){
                     if (this.active++ > 2) this.active = 0;
            },
            prev(){
                     if (this.active-- > 2) this.active = 0;
            },
            submit() {
           this.$confirm('Desea Guardar la Nueva Venta?', 'info', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(() => {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                        this.$alert('<strong>N° de Pedido '+response.data.num_pedido+"</strong>", 'Aviso de Informe', {
                            dangerouslyUseHTMLString: true
                    }, {
                                confirmButtonText: 'Aceptar',
                                });
                            this.$message.success(response.data.msg)
                           this.initForm()
                           this.loadTables()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });
        });
            },
            close() {
               this.$confirm('Desea Cancelar ?', 'aviso', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(() => {
           this.filtrar_cliente()
            this.initForm()
            this.loadTables()
            this.$eventHub.$on('reloadDataCustomers', () => {
          //      this.reloadDataCustomers()
            })
        })     
           

            },
            reloadDataCustomers() {
                this.$http.get(`/${this.resource}/table/customers`).then((response) => {
                    this.all_customers = response.data
                    this.filterCustomers()
                })
            },
        },
        mounted(){
           console.log(this.showDialogNewCustomer)

        }
    }
</script>
<style>
    .celdas{
        border-left:1px solid #ddd;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        text-align: center;
    padding:0px !important;

    }
    .input_descrip{
       width:60% !important;
    }
    .input{
        width:10% !important;
        text-align:center !important;
    }
    .input_price{
      width:90px;
      text-align: center;
    }
    table {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#fff;
    }
    .table{
    width:100% !important;
    border-bottom:1px solid #ddd !important;
    border-bottom-left-radius:10px !important;
    border-bottom-right-radius:10px !important;
    border-right:1px solid #ddd !important;
    margin-top:5px;
    border-left: 3px solid #ddd !important;
    border-bottom: 3px solid #ddd !important;
    overflow: hidden;
    }
    table td{
    border-top:1px solid #ddd;
    }
    table th, table td {

    text-align: center;

    }
    table th {
    font-size: .75em;
    font-weight:bold;
    background-color:#0088cc;
    color:#fff;
    padding:5px !important;
    }

    table td img { text-align: center; }

    @media screen and (max-width: 600px) {
    .input_descrip,.input_price{
    width:100% !important;
    }

    }
   .filter_grid{
    position: absolute;
    z-index:99;
    width:97.5% !important;

    }
.cell_active{
background-color:#e2eeff;
color:#000;
}
.control-label,.el-input__inner{
    width:100%;
}


</style>
