<template>
<section class="body-sign">
        <div class="center-sign">
            <div class="card">
                <div class="card card-header card-primary" style="background:#0088CC">
                    <p class="card-title text-left"><i class="fas fa-user"></i> Acceso al Sistema</p>
                </div>
                <div class="card-body">
                    <form @submit.prevent="submit">
                        <div class="form-group mb-3">
                             <small class="form-control-feedback" v-if="errors.tienda" v-text="errors.tienda[0]"></small>
                            <div class="input-group"  :class="{'has-danger': errors.tienda}">


                              <el-select v-model="form.tienda" placeholder="Tienda" size="large" class="form-control" style="padding:0px;">
                                <el-option
                                v-for="item in row_sivamed"
                                :key="item.row_id"
                                :label="item.c_descrip"
                                :value="item.row_id">
                                </el-option>
                            </el-select>

                                    <span class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fas fa-home"></i>
                                    </span>
                                </span>
                             </div>

                        </div>
                        <div class="form-group mb-3">
                              <small class="form-control-feedback" v-if="errors.user_nomb" v-text="errors.user_nomb[0]"></small>
                            <div class="input-group" :class="{'has-danger': errors.user_nomb}">
                                <el-input placeholder="Usuario" size="large" v-model="form.user_nomb" class="form-control form-control-lg"  style="padding:0px;height:100%;"></el-input>

                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="form-group mb-3 ">
                            <small class="form-control-feedback" v-if="errors.password" v-text="errors.password[0]"></small>
                            <div class="input-group" :class="{'has-danger': errors.password}">
                                <el-input placeholder="Clave" show-password size="large" v-model="form.password" class="form-control form-control-lg" style="padding:0px;height:100%;"></el-input>
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input name="remember" id="RememberMe" type="checkbox">
                                    <label for="RememberMe">Recordarme</label>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">
                                 <el-button type="primary" @click="submit()" :loading="loading_submit">Guardar</el-button>
                            </div>
                        </div>
                    </form>
                </div>

        </div>
        </div>
    </section>
</template>
<script>
   export default {

  //      components: {CustomerForm, DocumentOptions},
        data() {
            return {
                 loading_submit: false,
                form:[],
                errors:[],
                row_sivamed:[],
                resource:'sivamed'
            }
        },
          created() {
            this.loadsivamed();
            this.formInit();
        },

          methods: {
              formInit(){
                  this.errors=[]
                  this.form={
                    tienda:null,
                    user_nomb:null,
                    password:null,
                  }
              },
              submit(){
                  this.loading_submit = true
                  console.log(this.form)
                      this.$http.post(`/login`,this.form)
                        .then(response=>{
                          this.loading_submit=false
                          if(response.data.status==200){
                            this.$message.success(response.data.message)
                          window.location.href = "/sales";
                          }

                    }) .catch(error => {
                        if (error.response.status === 422) {
                              this.loading_submit=false
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    });
              },
              loadsivamed(){
                    this.$http.get(`/${this.resource}/tienda`)
                    .then(response => {
                        this.row_sivamed = response.data.tienda;
                        console.log( response.data.tienda)
                    })
              }
          }
   }
</script>
